# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Dataset
data/*.mid
data/*.midi

# Generated outputs
outputs/

# Large trained/processed files
*.pt
*.pth
*.pkl

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/